body{
  box-sizing: border-box;
  margin: 0;
  background: lightgrey;
  font-family: sans-serif;
}
/* Header Section */

header{
    background-color: #fff;
    font-size: 30px;
    padding: 10px 15px;
}

.logo{
    vertical-align: middle;
}